$dark-orange-border: #F17105;
$light-orange:#FFB300;
#top-navbar{
    width: 100%;
    padding: 15px;
    border-bottom: 5px solid $light-orange;
    background-color: #32373B;
}
.img-logo{
    display: inline-block;
    width:200px;
    height: 80px;
}
.navbar-nav a{
    color: $light-orange;
    &:hover{
        color:$dark-orange-border;
    }
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-toggler-icon i{
    margin-top:auto;
    margin-bottom: auto;
    color:$light-orange;
}
.btn-orange{
    background-color: $light-orange;
    color: black;
    &:hover{
        background-color: $dark-orange-border;
    }
}
