$granite: #32373b;
$light-orange:#FFB300;
$dark-orange-border: #F17105;
$very-light-orange: #fff3cd;
.trainer-page-wrapper {
    position: relative;
    min-height: 500px;
    font-family: exo;
    font-weight: 700;
    margin: 5vh 5vw;
}

.informations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 500px;
    height: 300px;
    background-color: $dark-orange-border;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 2px solid black;
}

.photo {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 3px $granite;
    border-radius: 10px;
}

.details {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto;
}

.details p {
    text-align: center;
}

.disciplines {
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.discipline-container {
    position: relative;
    &:hover .discipline-tooltip {
        visibility: visible;
    }
}

.discipline-tooltip {
    visibility: hidden;
    background-color: $granite;
    color: $light-orange;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    bottom: 90%;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    opacity: 0.8;
    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: $granite transparent transparent transparent;
    }
}

.discipline-img {
    height: 30px;
    width: 30px;
    margin: 5px;
    object-fit: cover;
}

.message-bar {
    width: max-content;
    position: absolute;
    top: 0;
    right: 0;
    & button {
        color: $granite;
        display: block;
        padding: 10px;
        margin: 10px;
        width: 300px;
        border-radius: 10px;
        font-size: 1.5rem;
        background-color: $dark-orange-border;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:hover {
            background-color: $light-orange;
            color: black;
            border: 2px solid black;
        }
        &:focus {
            outline: none;
        }
    }
    & p {
        display: inline;
    }
}

.trainer-page-section {
    background-color: $very-light-orange;
    border: 2px solid $light-orange;
    border-radius: 10px;
    margin-top: 2vh;
}

.title {
    font-size: 1.5rem;
    margin: 2vh 2vw;
}

.description-text {
    margin: 2vh 2vw;
}

.gallery-title {
    text-align: center;
}

.images {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr 6fr 4fr 1fr;
    margin: 2vh auto;
    align-items: center;
    justify-items: center;
}

.trainer-page-img {
    position: relative;
    object-fit: cover;
    border-radius: 10px;
}

.side-img {
    width: 200px;
    height: 200px;
}

.central-img {
    width: 300px;
    height: 300px;
}

.img-container {
    background-color: $granite;
    border: 2px solid $light-orange;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    &:hover .trainer-page-img {
        opacity: 0.3;
    }
    &:hover .image-controls {
        opacity: 1;
    }
    &:hover {
        border-color: $granite;
    }
}

.left-img {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 200px;
    height: 200px;
}

.main-img {
    grid-column-start: 3;
    grid-column-end: 4;
    width: 300px;
    height: 300px;
}

.right-img {
    grid-column-start: 4;
    grid-column-end: 5;
    width: 200px;
    height: 200px;
}

.trainer-page-arrow {
    opacity: 0.2;
    &:hover {
        opacity: 1;
    }
}

.arrow-right {
    grid-column-start: 1;
    grid-column-end: 2;
}

.arrow-right {
    grid-column-start: 5;
    grid-column-end: 6;
}

.photo-indicators {
    margin: 2vh auto;
    text-align: center;
    color: $light-orange;
}

.marked-indicator {
    color: $dark-orange-border;
}

.certyficates {
    text-align: center;
    &:hover {
        border-color: $granite;
    }
    &:hover .certificate-closeup-icon {
        visibility: visible;
    }
}

.certificate-closeup-icon {
    margin: auto 10px;
    visibility: hidden;
    vertical-align: middle;
}

.certyficate-photo {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.certyficate-description {
    display: inline-block;
    margin: 0 1vw;
}

.calendar {
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 6fr 1fr;
    grid-template-rows: 70px auto;
    align-items: center;
    justify-items: center;
}

.year {
    grid-area: 1/1/2/6;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.3rem;
}

.month-container {
    margin: 0 auto;
    margin-bottom: 20px;
    justify-items: center;
    &.first {
        grid-area: 2/2/3/3;
    }
    &.second {
        grid-area: 2/3/3/4;
    }
    &.third {
        grid-area: 2/4/3/5;
    }
}

.month-title {
    text-align: center;
}

.month-card {
    margin: 10px 10px;
    width: 300px;
    height: 300px;
    border: 2px solid $dark-orange-border;
    border-radius: 5px;
}

.calendar-arrow-left {
    grid-area: 2/1/3/2;
}

.calendar-arrow-right {
    grid-area: 2/5/3/6;
}

.modal-content {
    background-color: $granite;
}

.modal-icon {
    color: $light-orange;
    margin: 0 auto;
    &:hover {
        color: $dark-orange-border;
    }
}

#closeup {
    width: 100vw;
    height: 100vh;
    padding-right: 0!important;
}

.photo-preview {
    width: 98%;
    height: 100%;
    margin: 0 1%;
    border: 2px solid $light-orange;
    border-radius: 10px;
}

#big-photo {
    margin: auto;
    max-width: 99%;
    max-height: 99%;
    object-fit: contain;
    border: 2px solid $light-orange;
    border-radius: 5px;
}

.close-preview {
    position: absolute;
    top: 2vh;
    right: 1vw;
}

.image-controls {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    &:hover {
        opacity: 1;
    }
}

#message {
    margin: auto;
    & .modal-content {
        font-family: exo;
        border-radius: 10px;
    }
    & .message-title {
        font-size: 1.3rem;
        color: $light-orange;
        vertical-align: middle;
        margin-bottom: 0;
    }
}

@media(max-width: 1200px) {
    .month-container {
        &.first {
            display: none;
        }
        &.third {
            display: none;
        }
    }
}

@media (max-width: 1150px) {
    .informations {
        margin: 0 auto;
    }
    .message-bar {
        position: unset;
        margin: auto;
        & button {
            display: inline-block;
        }
    }
}

@media (max-width: 1024px) {
    .left-img {
        display: none;
    }
    .right-img {
        display: none;
    }
}

@media (max-width: 720px) {
    .informations {
        width: 300px;
        height: auto;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .photo {
        grid-area: 1/1/2/2;
        margin: 10px auto;
    }
    .details {
        grid-area: 2/1/3/2;
    }
    .message-bar button {
        display: block;
    }
}

@media (max-width: 500px) {
    .main-img {
        width: 150px;
        height: 150px;
    }
    .central-img {
        width: 150px;
        height: 150px;
    }
    .month-card {
        width: 150px;
        height: 150px;
    }
}